<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11;IE=10;IE=9;IE=8;chrome=1" />
	<meta name="render" content="webkit" />
	<title>电子系 :: {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/widget.css">
</head>
<body>
<div class="container">
<div class="l10"></div>
<div class="header">
	<a class="ncepu_icon" href="http://www.ncepu.edu.cn/"></a>
	<a class="banner_title" href="#"></a>
	<a class="banner_right"></a>
</div>
<div class="l2"></div>
<div class="nav">
	<ul>
		<li><a href="">大学首页</a></li>
		<li><a href="">本站首页</a></li>
		<li><a href="">新闻中心</a></li>
		<li><a href="">院系简介</a></li>
		<li><a href="">系党总支</a></li>
		<li><a href="">学科建设</a></li>
		<li><a href="">科学研究</a></li>
		<li><a href="">对外交流</a></li>
		<li><a href="">人才培养</a></li>
		<li><a href="">历届校友</a></li>
	</ul>
</div>

<div class="content">
{% block content %}{% endblock %}
</div>

<div class="divtable">
	<table height="44" cellpadding="0" cellspacing="5px" border="0">
	  <tr align="center" valign="middle">
	    <th>大学首页</th>
	    <th>新闻中心</th>
	    <th>院系简介</th>
	    <th>系党总支</th>
	    <th>学科建设</th>
	    <th>科学研究</th>
	    <th>对外交流</th>
	    <th>人才培养</th>
	    <th>历届校友</th>
	    <th>友情链接</th>
	  </tr>
      <tr>
        <td align="center"><a href="http://www.ncepu.edu.cn/">北京校部</a></td>
        <td align="center"><a href="http://202.206.208.57/dianzi/categoryNews.aspx?cat=0">电信快讯</a></td>
        <td align="center"><a href="http://202.206.208.57/dianzi/yzzc.aspx">院长致辞</a></td>
        <td>&nbsp;</td>
        <td align="center"><a href="http://202.206.208.57/dianzi/scienceLook.aspx">教学成果</a></td>
        <td align="center"><a href="http://202.206.208.57/dianzi/scienceLook.aspx">教学成果</a></td>
        <td align="center"><a href="http://202.206.208.57/dianzi/scienceLook.aspx">教学成果</a></td>
        <td align="center"><a href="http://202.206.208.57/dianzi/teacherYj.aspx">本科生教育</a></td>
        <td>&nbsp;</td>
        <td align="center"><a href="http://202.206.208.65/zsjy.aspx">招生信息网</a></td>
      </tr>
      <tr align="center">
        <td><a href="http://net.ncepu.edu.cn/">保定校区</a></td>
        <td><a href="http://202.206.208.57/dianzi/categoryNews.aspx?cat=1">通知公告</a></td>
        <td><a href="http://www.ncepu.edu.cn/xxgk/32907.htm">历史沿革</a></td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.57/dianzi/cslook1.aspx">发表论文</a></td>
        <td><a href="http://202.206.208.57/dianzi/cslook1.aspx">发表论文</a></td>
        <td><a href="http://202.206.208.57/dianzi/cslook1.aspx">发表论文</a></td>
        <td><a href="http://202.206.208.57/dianzi/teachHigh.aspx">研究生教育</a></td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.40/job/default.aspx">就业服务中心</a></td>
      </tr>
      <tr align="center">
        <td><a href="http://english.ncepu.edu.cn/">ENGLISH</a></td>
        <td><a href="http://202.206.208.57/dianzi/categoryNews.aspx?cat=2">工作总结</a></td>
        <td><a href="http://202.206.208.57/dianzi/bmjj.aspx">部门介绍</a></td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.57/dianzi/cslook2.aspx">出版专著</a></td>
        <td><a href="http://202.206.208.57/dianzi/cslook2.aspx">出版专著</a></td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.57/dianzi/teachersLook.aspx">师资队伍</a></td>
        <td>&nbsp;</td>
        <td><a href="http://59.67.225.73/jiaowuchu/">教务处</a></td>
      </tr>
      <tr align="center">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.57/dianzi/ldbx.aspx">两地办学</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.57/dianzi/cslook3.aspx">出版教材</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr align="center">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="http://202.206.208.57/dianzi/cslook4.aspx">研究项目</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
</div>
<div class="footer">
    <span>访问量：12239098&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&copy;&nbsp;华北电力大学电子与通信工程系</span>
</div>
</div>

</body>

</html>