{% extends 'base.html' %}

{% block title %}科学研究{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/sciences.css" />

<div class="top-picture">
	<img src="/static/image/bg-img.jpg">
</div>


<div class="aside">
	<div class="title">
		<div class="top">科学研究</div>
		<div class="bottom">栏目介绍文字</div>
	</div>
	<div class="listing">
		<ul>
			<li class="white"><a href="">教学成果</a></li>
			<li class="blue"><a href="">发表论文</a></li>
			<li class="white"><a href="">出版专著</a></li>
			<li class="blue"><a href="">出版教材</a></li>
			<li class="white"><a href="">研究项目</a></li>
		</ul>
	</div>
</div>


<div class="article">
	<div class="content">
		<table>
			<tr class="list-caption">
				<td class="caption-article">论文名称</td>
				<td class="caption-author">作者</td>
				<td class="caption-date">发表时间</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>	
		</table>
	</div>
	<div class="pager">
		<ul>
			<li class="page-turning"><a href="">&laquo;</a></li>
			<li class="number-page"><a href="">1</a></li>
			<li class="number-page"><a href="">2</a></li>
			<li class="number-page"><a href="">3</a></li>
			<li class="number-page"><a href="">4</a></li>
			<li class="page-turning"><a href="">&raquo;</a></li>
		</ul>
	</div>
</div>			
<div class="correction"></div>
{% endblock %}