{% extends 'base.html' %}

{% block title %}{{ project_title }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/sciences.css" />

<div class="top-picture">
	<img src="/static/image/bg-img.jpg">
</div>


<div class="aside">
	<div class="title">
		<div class="top">科学研究</div>
		<div class="bottom">栏目介绍文字</div>
	</div>
	<div class="listing">
		<ul>
			<li class="white"><a href="">实验室建设</a></li>
			<li class="blue"><a href="">研究所</a></li>
			<li class="white"><a href="">科研项目</a></li>
			<li class="blue"><a href="">科研成果</a></li>
		</ul>
	</div>
</div>


<div class="article">
	<div class="content">
		<table>
			<tr class="list-caption">
				<td class="caption-article">项目名称</td>
				<td class="caption-author">负责人</td>
				<td class="caption-date">时间</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写项目的名称这里填写项目的名称</a></td>
				<td class="author-name">负责人</td>
				<td class="article-date">2013年12月</td>
			</tr>	
		</table>
	</div>
	<div class="pager">
		<ul>
			<li class="page-turning"><a href="">&laquo;</a></li>
			<li class="number-page"><a href="">1</a></li>
			<li class="number-page"><a href="">2</a></li>
			<li class="number-page"><a href="">3</a></li>
			<li class="number-page"><a href="">4</a></li>
			<li class="page-turning"><a href="">&raquo;</a></li>
		</ul>
	</div>
</div>			
<div class="correction"></div>
{% endblock %}